{% extends "layout.html" %}

{% block title %}
    Play Picross!
{% endblock %}

{% block script %}
    <script src="/static/picross.js" defer></script>
{% endblock %}

{% block main %}
    <h2>Choose puzzle selection method:</h2>
    <form enctype="multipart/form-data">
        <label for="load_file">Load puzzle from file</label>
        <button type="button" id="load_file">Load...</button>
    </form>
    <form action="/" method="post">
        <label for="puzzle_id">Load puzzle id# from webpbn.com</label>
        <input type="text" name="puzzle_id" id="puzzle_id" required>
        <button type="submit" id="id_button">Submit</button>
    </form>
    <form action="/" method="post">
        <label for="puzzle_size">Load random puzzle from webpbn.com</label>
        <select name="puzzle_size" id="puzzle_size" required>
            <option value="">--Select a Puzzle Size--</option>
            <option value="any">Any</option>
            <option value="small">Small</option>
            <option value="medium">Medium</option>
            <option value="large">Large</option>
            <option value="huge">Huge</option>
        </select>
        <button type="submit" id="random_button">Submit</button>
    </form>
    <div>
      {{ grid }}
    </div>
{% endblock %}
